services:
  app:
    build: .
    container_name: flask_app
    restart: always
    environment:
      - FLASK_ENV=production
      - SECRET_KEY=my_secret_key
      - DB_USER=admin
      - DB_PASSWORD=admin123
      - DB_HOST=db
      - DB_NAME=car_rental_db
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    networks:
      - app_network

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=admin123
      - MYSQL_DATABASE=car_rental_db
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin123
    networks:
      - app_network
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
  nginx:
    image: nginx
    container_name: nginx_container
    restart: always
    environment:
      - DOMAIN_NAME=rongchenke.link
    ports:  
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
    db_data: